<table class="table table-dark table-striped w-50 p-3">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Held By</th>
            <th scope="col">Effect</th>
            <th scope="col">Type</th>
            <th scope="col">Quantity</th>
            <th scope="col">Magic Item</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each items}}
        <tr>
            <td>{{itemName}}</td>
            <td>{{charName}}</td>
            <td>{{effect}}</td>
            <td>{{type}}</td>
            <td>{{quantity}}</td>
            <td>{{isMagic}}</td>
            <td><button onclick="deleteItem({{itemID}})">Delete</button></td>
            <td><a href="/items/{{itemID}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<h1>Add a new Item:</h1>
<form action="/items" method="post" class="row">
    <div class="mb-3 col-4">
        <label class="form-label">Name (required)</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>

    <div class="mb-3 col-4">
        <label class="form-label">Effect</label>
        <input type="text" class="form-control" id="effect" name="effect">
    </div>

    <div class="mb-3 col-4">
        <label class="form-label">Type</label>
        <input type="text" class="form-control" id="type" name="type">
    </div>

    <div class="mb-3 col-4">
        <label class="form-label">Quantity (required)</label>
        <input type="text" class="form-control" id="quantity" name="quantity" required>
    </div>

    <div class="mb-3 form-check col-4 my-auto">
        <input type="checkbox" class="form-check-input mx-auto" id="exampleCheck1" name="isMagic" value=1>
        <label class="form-check-label mx-auto" for="exampleCheck1">Magic Item?</label>
    </div>
    <p></p>
    <div class="col">
        <button type="submit" class="btn btn-primary btn-lg col-2">Submit</button>
    </div>
</form>