<section>
    <dl class="row">
        <dt class="col-sm-3">Search Term</dt>
        <dd class="col-sm-9">{{searchTerm}}</dd>

        <dt class="col-sm-3">URL</dt>
        <dd class="col-sm-9"><a href={{url}}>{{url}}</a></dd>

        <dt class="col-sm-3">Width</dt>
        <dd class="col-sm-9">{{width}} px</dd>

        <dt class="col-sm-3">Height</dt>
        <dd class="col-sm-9">{{height}} px</dd>

        <dt class="col-sm-3">Pixelation Level</dt>
        <dd class="col-sm-9">{{pixelation}}</dd>

        <dt class="col-sm-3">Title</dt>
        <dd class="col-sm-9">{{title}}</dd>

        <dt class="col-sm-3">Artist</dt>
        <dd class="col-sm-9">{{artist}}</dd>

        <dt class="col-sm-3">License</dt>
        <dd class="col-sm-9">{{licenseShortName}} via Wikimedia Commons</dd>

        <dt class="col-sm-3">Description URL</dt>
        <dd class="col-sm-9"><a href={{descriptionURL}}>{{descriptionURL}}</a></dd>
    </dl>
</section>
<section>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary btn-lg" href="/">Find Another Image</a>
        </div>
    </div>
</section>
<p></p>
<section>
    <div class="row">
        <a href={{descriptionURL}}><img alt={{title}} src={{url}}></a>
    </div>
</section>